{% extends 'curry_shop_base2.html' %}

{% load crispy_forms_tags %}
{% load custom_filter %}

{% load static %}

{% block body_block %}

<!-- <script src="https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.js"></script> -->

<style>
    .custom-dropdown{
        background-color: #212529;
        width: 100%;
        max-height: 10rem;
    }
    .b_s{
        box-shadow: 10px 10px 10px 10px solid black;
    }
    .ts{
        text-shadow: 0px 0px 2px black ;
    }
    .ball{
        margin-top: 10px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: green;
    }
    .mark_images{
        width: 2rem;
        height: 2rem;
    }
    .large_img{
        width: 8rem;
        height: 8rem;
        opacity: 0.8;
    }
    .my_card{
        box-shadow: 10px 10px 10px 10px rgba(87, 87, 87, 0.27);
        height: 19rem;
        transition: all 0.02s linear;
        user-select: none;
        border: 1px solid black;
        background-color: black;
    }
    .dark{
        background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.261),rgba(0, 0, 0, 0.533),black);
        width: 100%;
        height: 19rem;
        border-radius: 7px;
    }
    .my_card:active{
        border: 1px solid rgba(0, 0, 0, 0.285);
        box-shadow: 10px 10px 10px 10px rgba(87, 87, 87, 0);
    }
    .text-red{
        color: red;
    }
    .ts1{
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.578);
    }
    .modal_img{
        width: 4rem;
        height: 3rem;
        border-radius: 10px;
    }
    .modal_input{
        background-color: transparent;
        border: none;
        color: white;
        user-select: none;
        text-align: center;
    }
    .modal_input:active{
        border: none;
    }
    .modal_input:focus{
        border: none;
        background-color: transparent;
        box-shadow: none;
        color: white;
    }
    .table-custom{
        background-color: black;
        color: white;
        width: 100%;
    }
    .orderlist_pad{
        padding-top: 0.6rem;
    }
    #modal_content input{
        padding: 0;
    }
    @media screen and (max-width:500px) {
        #modal_content{
            font-size: 0.75rem;
        }
        #modal_content h6{
            font-size: 0.75rem;
        }
        #modal_content input{
            font-size: 0.75rem;
            padding: 0;
        }
        .orderlist_pad{
            padding-top: 0rem;
        }
        .modal_img{
            width: 3rem;
            height: 2rem;
            border-radius: 10px;
        }
    }
    .my_order{
        background-color: black;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
    }
    .container1{
        display: grid;
        grid-template-rows: repeat(1,20rem);
        grid-template-columns: repeat(4,1fr) ;
    }
    .container_items{
        margin: 0.5rem;
    }
    @media screen and (max-width:1199px) {
        .my_card{
            height: 12rem;
        }
        .icon_size{
            font-size: 0.75rem;
        }
        .font_size{
            font-size: 0.75rem;
        }
        .button_padding{
            padding: 0.25rem;
        }
        .font_size1{
            font-size: 1.3rem;
        }
        .container1{
            display: grid;
            grid-template-rows: repeat(1,13.5rem);
            grid-template-columns: repeat(4,1fr) ;
        }
    }
    @media screen and (max-width:991px){
        .my_card{
            height: 14rem;
        }
    }
    @media screen and (max-width:768px){
        .my_card{
            height: 15rem;
        }
    }
    @media screen and (max-width:991px){
        .container1{
            grid-template-rows: repeat(1,15.5rem);
            grid-template-columns: repeat(3,1fr);
        }
    }
    @media screen and (max-width:850px){
        .container1{
            grid-template-rows: repeat(1,16rem);
            grid-template-columns: repeat(2,1fr);
        }
    }
    @media screen and (max-width:700px){
        .padd-marg-mob-0{
            margin: 0px;
            padding: 0px;
        }
    }
    @media screen and (max-width:460px) {
        .my_card{
            height: 10rem;
        }
        .icon_size{
            font-size: 0.65rem;
        }
        .font_size{
            font-size: 0.55rem;
        }
        .button_padding{
            padding: 0.15rem;
        }
        .font_size1{
            font-size: 0.5rem;
        }
        .container1{
            grid-template-rows: repeat(1,12rem);
            grid-template-columns: repeat(2,1fr);
        }
    }
    .btn-shadow{
        box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.466);
    }
    .image_height{
        height: 80%;
    }
    @media screen and (max-width:1199px) {
        .image_height{
            height: 70%;
        }
    }
    @media screen and (max-width:992px){
        .image_height{
            height: 75%;
        }
    }
    @media screen and (max-width:460px) {
        .image_height{
            height: 68%;
        }
    }
    .img_map_1{
        border-radius: 5px;
        border: 5px solid transparent ;
        padding: 0.3rem;
        border-image: linear-gradient(to top left,rgb(56, 56, 56),rgba(255, 255, 255, 0.543),rgb(255, 255, 255))1;
    }
    .img_map_2{
        border-radius: 5px;
        border: 5px solid transparent ;
        padding: 0.3rem;
    }
</style>

<style>
    .my_badge_black{
        background-color: rgb(36, 36, 36);
        font-size: 13px;
        font-style: italic;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        border-radius: 5px;
        padding: 5px 10px;
        font-weight: 900;
    }
    .my_badge_black:hover{
        background-color: rgb(72, 72, 72);
    }
    .my_badge_red{
        background-color: rgb(196, 40, 40);
        font-size: 13px;
        font-style: italic;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        border-radius: 5px;
        padding: 5px 10px;
        font-weight: 900;
    }
    .my_badge_red:hover{
        background-color: rgb(149, 0, 0);
    }
    .badge_margin{
        margin-top: -2.5rem;
        margin-right: 0.75rem;
    }
    @media screen and (max-width:700px) {
        .my_badge_black{
            font-size: 7px;
            padding: 3px 5px;
        }
        .my_badge_red{
            font-size: 7px;
            padding: 3px 5px;
        }
        .badge_margin{
            margin-top: -1.75rem;
            margin-right: 0.65rem;
        }
    }
    .glass_effect{
        border: 1px solid rgba(255, 255, 255, 0.331);
        margin: 5px;
        border-radius: 10px;
        background: linear-gradient(to right,rgba(0, 0, 0, 0.329),rgba(255, 255, 255, 0.388));
    }
    .modal_background_style{
        box-shadow: 3px 3px 5px 10px rgba(0, 0, 0, 0.701); 
        background: linear-gradient(to right, rgba(0, 0, 0, 0.718),rgba(0, 0, 0, 0.57));
        backdrop-filter: blur(3px);
        border: 1px solid transparent;
        border-radius: 10px;
        border-image: linear-gradient(to bottom right,white,rgba(255, 255, 255, 0.512)) 1;
    }
    #location_input{
        width: 0;
        height: 0;
        opacity: 0;
    }
    .text-red{
        color: rgb(224, 60, 60);
    }
    .text-orange{
        color: orange;
    }
</style>


<div class="container padd-marg-mob-0" >
    
    <!-- <h3 class="bg-dark p-2 text-center text-light rounded mb-4 font_size1">ITEMS</h3> -->

    <div class="input-group my-2">
        <span class="input-group-text bi bi-search icon_size"></span>
        <input id="search_bill_filter" class="form-control search_font_size" placeholder="search here .." type="text">
    </div>
    
        {% if all_items %}
        <div class="container1">
            <!-- <div class="container1 scrolling_window_height" style="overflow-y: auto;"> -->
                {% for i in all_items %}
                    <div class="container_items mt-2 clickhere">
                        <div class="card my_card position-relative mb-0">
                            <div class="position-absolute h-100 w-100">
                                <div class="d-flex justify-content-between text-light" style="padding: 0.8rem 1rem;">
                                    <h5 class="bi bi-heart ts1 icon_size" onclick="$(this).removeClass('bi-heart');$(this).addClass('bi-heart-fill text-red');"></h5>
                                    <h5 class="bi bi-star ts1 icon_size" onclick="$(this).removeClass('bi-star');$(this).addClass('bi-star-fill text-warning');"></h5>
                                </div>
                            </div>
                            <div class="p-1 rounded image_height">
                                <a href="" download="{% if i.image %}{{ i.image.url|cropfront:14 }}{% endif %}">
                                    <img id="item_img{{ i.id }}" {% if i.image %} src="{{ i.image.url }}" {% else %} src="{% static 'images\empy_food1.jpg' %}"{% endif %} class="h-100 w-100 border-secondary border" alt="">
                                </a>
                            </div>
                            <div class="position-relative">
                                <div class="position-absolute w-100">
                                    <div class="d-flex justify-content-end text-light badge_margin">
                                        {% if not i.item_finished %}
                                        <div class="my_badge_black" onclick="change_availability_status_click(`{{i.id}}`,$(this));$('#modal_3').modal('show');">
                                            Available
                                        </div>
                                        {% else %}
                                        <div class="my_badge_red" onclick="change_availability_status_click(`{{i.id}}`,$(this));$('#modal_3').modal('show');">
                                            Stock Out
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="text-light p-1">
                                <div class="d-flex justify-content-between">
                                    <h6 id="item_name{{ i.id }}" class="fw-bolder font_size">{{ i.name|upper }}</h6>
                                    <h6 id="item_price{{ i.id }}" class="fw-bolder font_size">₹{{ i.prize }}</h6>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <small id="item_cat{{ i.id }}" class="font_size">[ {{ i.category|upper }} ]</small>
                                    <div class="z-2">
                                        <!-- <button class="btn btn-sm btn-outline-success"><span class="bi bi-cart"></span> Add</button> -->
                                        <button class="btn btn-sm btn-outline-warning font_size button_padding" data-bs-toggle="modal" data-bs-target="#modal_1" onclick="add_to_order_list('{{ i.id }}')"><span class="bi bi-cart4"></span> Order Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- </div> -->
        {% else %}
        <h4 class="bg-success p-2 text-center text-light rounded mb-4 py-5">No Items Added yet <br><a class="btn btn-outline-light mt-3" href="{% url 'add_item' %}"> Add New Item</a></h4>
        {% endif %}
    </div>

    <button onclick="$('#modal_4').modal('show');" class="btn btn-danger z-3 btn-shadow" style="position: fixed;bottom: 6rem;right: 2.5rem;padding: 0.5rem 1rem;border-radius: 50%;">
        <span class="fa fa-refresh"></span>
    </button>

    <button onclick="openmodal()" class="btn btn-dark z-3 btn-shadow" style="position: fixed;bottom: 2.5rem;right: 2.5rem;padding: 0.5rem 1rem;">
        <span class="bi bi-cart"> ORDER</span>
    </button>
    
    <br><br><br><br><br><br>
  
  <!-- Modal 1-->
  <div class="modal fade" id="modal_1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal_background_style">
            <form id="order_list_form" action="" method="POST">
                {% csrf_token %}
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-light" id="staticBackdropLabel">Order List</h1>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" onclick="$('#modal_3').modal('hide');"></button>
                </div>
                
                <div class="modal_container overflow-y-auto" style="max-height: 20rem;scrollbar-width: thin;scrollbar-color: black;">
                    <div id="modal_content" class="modal-body p-0 m-0">
        
                    </div>
                </div>
                
                <div class="text-end me-2">
                    <button type="button" class="btn btn-sm btn-success px- py-0" onclick="$('#modal_1').modal('hide');">Add more</button>
                </div>
                <hr class="border pb-0 mb-2">
                <div class="d-flex justify-content-end">
                    <h5 class="text-end fw-bolder text-light" for="">Total :</h5>
                    <input id="grand_total" style="width: 30%;" class="form-control modal_input p-0 fw-bolder text-end pe-4 pb-2" type="number" value="0.00" name="grant_total" readonly><span class="text-light">Rs</span>
                    <input id="location_input" type="text" value="my home address" name="location">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
                    <button id="confirm_order_next" type="button" class="btn btn-outline-warning">Place Order</button>
                </div>
            </form>
      </div>
    </div>
  </div>

  <!-- Modal 2-->
  <div class="modal fade" id="modal_2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal_background_style">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="text-end mb-2 p-2">
                    <!-- <h1 class="modal-title fs-5 text-light" id="staticBackdropLabel">Delivery Location</h1> -->
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" onclick="$('#modal_1').modal('show');"></button>
                </div>
                
                <div class="modal_container overflow-y-auto" style="max-height: 20rem;scrollbar-width: thin;scrollbar-color: black;">
                    <div class="d-flex justify-content-center text-light">
                        <div class="border-light me-5">
                            <div class="position-relative" id="loading_food_img" hidden>
                                <div class="position-absolute" style="margin-top: 1.7rem;margin-left: 1.7rem;">
                                    <img src="{% static 'images/food_loading.gif' %}" alt="" style="width: 5rem;height: 5rem;">
                                </div>
                            </div>
                            <img id="current_loc_img" onclick="$('#current_loc').click()" class="img_map_2" src="{% static 'images\googlemap.jpg' %}" width="130px" height="130px" alt="">
                            <div class="position-relative">
                                <div class="position-absolute" style="margin-left: 0.70rem;margin-top: -1.5rem;">
                                    <input id="current_loc" class="form-check-input" name="choose_loc" type="radio" style="opacity: 0;">
                                    <label for="current_loc">MY LOCATION</label>
                                </div>
                            </div>
                        </div>
                        <div>
                            <img id="home_loc_img" onclick="$('#home_loc').click()" class="img_map_1" src="{% static 'images\home_loc.jpg' %}" width="130px" height="130px" alt="">
                            <div class="position-relative">
                                <div class="position-absolute" style="margin-left: -0rem;">
                                    <div class="d-flex justify-content-center">
                                        <input id="home_loc" class="form-check-input" name="choose_loc" type="radio" checked style="opacity: 0;">
                                        <label for="home_loc">MY ADDRESS</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>

                <div class="text-center my-3">
                    <button type="button" class="btn btn-outline-danger me-2 fw-light" data-bs-dismiss="modal" onclick="$('#modal_1').modal('show');"><span class="bi bi-arrow-left"></span> Go Back</button>
                    <button id="confirm_order_id" type="button" class="btn btn-outline-warning me-2 fw-light" onclick="$('#order_list_form').submit();"><span class="bi bi-cart4"></span> Confirm </button>
                </div>
            </form>
      </div>
    </div>
  </div>

  <!-- Modal 3-->
  <div class="modal fade" id="modal_3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal_background_style">

            <form action="" method="POST">
                {% csrf_token %}
                
                <div class="modal_container overflow-y-auto" style="max-height: 20rem;scrollbar-width: thin;scrollbar-color: black;">
                    <div class="text-end me-2">
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" onclick="$('#modal_3').modal('hide');"></button>
                    </div>
                    <h5 class="fw-light p-3 text-light">Do you want to <span class="text-red fw-bolder">Change</span> the <span class="text-red fw-bolder">Availablity</span> status ?</h5>
                    <div class="mb-2 text-end">
                        <button type="button" class="btn btn-outline-danger me-2 fw-light" data-bs-dismiss="modal" onclick="$('#modal_3').modal('hide');">Close</button>
                        <button id="confirm_order_id" type="button" class="btn btn-outline-warning me-2 fw-light" onclick="change_availability_status()">Confirm</button>
                    </div>
                </div>

            </form>
      </div>
    </div>
  </div>

  
  <!-- Modal 3-->
  <div class="modal fade" id="modal_3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal_background_style">

            <form action="" method="POST">
                {% csrf_token %}
                
                <div class="modal_container overflow-y-auto" style="max-height: 20rem;scrollbar-width: thin;scrollbar-color: black;">
                    <div class="text-end me-2">
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" onclick="$('#modal_3').modal('hide');"></button>
                    </div>
                    <h5 class="fw-light p-3 text-light">Do you want to <span class="text-red fw-bolder">Change</span> the <span class="text-red fw-bolder">Availablsssssssssssssity</span> status ?</h5>
                    <div class="mb-2 text-end">
                        <button type="button" class="btn btn-outline-danger me-2 fw-light" data-bs-dismiss="modal" onclick="$('#modal_3').modal('hide');">Close</button>
                        <button id="confirm_order_id" type="button" class="btn btn-outline-warning me-2 fw-light" onclick="change_availability_status()">Confirm</button>
                    </div>
                </div>

            </form>
      </div>
    </div>
  </div>

    <!-- Modal 4-->
  <div class="modal fade" id="modal_4" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal_background_style">

            <form action="" method="POST">
                {% csrf_token %}
                
                <div class="modal_container overflow-y-auto" style="max-height: 20rem;scrollbar-width: thin;scrollbar-color: black;">
                    <div class="text-end me-2">
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" onclick="$('#modal_4').modal('hide');"></button>
                    </div>
                    <h5 class="fw-light p-3 text-light">Do you want to <span class="text-red fw-bolder">Reset</span> the <span class="text-red fw-bolder">Availablity</span> status ?</h5>
                    <div class="mb-2 text-end">
                        <button type="button" class="btn btn-outline-danger me-2 fw-light" data-bs-dismiss="modal" onclick="$('#modal_4').modal('hide');">Close</button>
                        <a id="confirm_order_id" type="button" class="btn btn-outline-warning me-2 fw-light" href="{% url 'reset_product_availability_status' %}">Confirm</a>
                    </div>
                </div>

            </form>
      </div>
    </div>
  </div>

  <!-- Modal 5-->
  <div class="modal fade" id="modal_5" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal_background_style">

            <form action="" method="POST">
                {% csrf_token %}
                
                <div class="modal_container overflow-y-auto" style="max-height: 20rem;scrollbar-width: thin;scrollbar-color: black;">
                    <div class="text-end me-2">
                        <button type="button" class="btn-close btn-close-white modal_5_close_btn" data-bs-dismiss="modal" aria-label="Close" onclick="$('#modal_5').modal('hide');"></button>
                    </div>
                    <h5 id="model_5_content" class="fw-light p-3 text-light"></h5>
                    <div class="mb-2 text-end">
                        <button type="button" class="btn btn-outline-danger me-2 fw-light modal_5_close_btn" data-bs-dismiss="modal" onclick="$('#modal_5').modal('hide');">Close</button>
                    </div>
                </div>

            </form>
      </div>
    </div>
  </div>


      <!-- Modal new-->
        <div class="modal fade" id="modal_new" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content modal_background_style">

                    <form action="" method="POST">
                        {% csrf_token %}
                        
                        <div class="modal_container overflow-y-auto" style="max-height: 20rem;scrollbar-width: thin;scrollbar-color: black;">
                            <div class="text-end me-2">
                                <button type="button" class="btn-close btn-close-white modal_new_close_btn" data-bs-dismiss="modal" aria-label="Close" onclick="$('#modal_new').modal('hide');"></button>
                            </div>
                            <div id="modal_new_content">

                            </div>
                            </h5>
                            <div class="mb-2 text-end">
                                <button type="button" class="btn btn-outline-danger me-2 fw-light modal_new_close_btn" data-bs-dismiss="modal" onclick="$('#modal_new').modal('hide');">Close</button>
                                <button type="button" class="btn btn-outline-warning me-2 fw-light modal_new_confirm_btn" data-bs-dismiss="modal" onclick="$('#modal_new').modal('hide');">Confirm</button>
                            </div>
                        </div>

                    </form>
            </div>
            </div>
        </div>

  


  <!-- <input id="message-input" type="text"> -->

<script>
    $('#confirm_order_next').on('click',function(){
        $('#modal_1').modal('hide');
        $('#modal_2').modal('show');
    })
    $(document).ready(function(){
        $('#all_item').addClass('text-light');
    })
    $(document).ready(function(){
        $('.billbox').filter(function(){
            var row = 1;
            $(this).find('td .counter_id').filter(function(){
                $(this).text(row);
                row=row+1;
            });
        })
    })
    function add_to_order_list(id){
        var row_count = $('.rowCounterClass').length+1;
        var item_name = $(`#item_name${id}`).text();
        var item_price = $(`#item_price${id}`).text().replace('₹','');
        var item_cat = $(`#item_cat${id}`).text();
        var item_img = $(`#item_img${id}`).attr('src');
        var exist = false;
        $('#modal_content').find('.order_item_id').filter(function(){
            if(parseInt($(this).val())==parseInt(id)){
                exist = true;
                alert(`Item "${item_name.toUpperCase()}" Already Added`);
                // modal_new_open(`Item "${item_name.toUpperCase()}" Already Added`,"modal_1","modal_1","",'info',1,'');
            }
        })
        if(exist==false){
            $('#modal_content').append(`

            <div id="item_detail${row_count}">
                <div class="position-relative rowCounterClass">
                    <div class="position-absolute end-0 top-100" style="margin-top: -0.2rem;margin-right: 0rem;">
                        <span onclick="clearContent(${row_count},$(this))" class="badge text-bg-danger p-1"><i class="bi bi-x"></i></span>
                    </div>
                </div>

                <div class="row  m-2 p-2 border border-secondary rounded text-light">
                    <div class="col-2">
                        <input name="item_id" class="order_item_id" value="${id}" hidden/>
                        <img class="modal_img" src="${item_img}" alt="">
                    </div>
                    <div class="col-4">
                        <div class="d-flex" style="flex-direction: row;">
                            <div>
                                <h6>${item_name}</h6>
                                <input type="text" name="ordered_item_name" value="${item_name}" hidden/>
                                <small> ${item_cat} </small>
                            </div>
                            <div class="pt-3 pe-2 ps-3">X</div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="d-flex orderlist_pad">
                            <button type="button" class="btn btn-dark" onclick="minus_here($(this))">-</button>
                            <input class="form-control text-center p-0 ps-1 modal_input qty_val" type="number" name="qty" id="item_qty${row_count}" value="1" min="1" readonly>
                            <button type="button" class="btn btn-dark" onclick="add_here($(this))">+</button>
                        </div>
                    </div>
                    <div class="col-2">
                        <input class="price_val" style="display:none" type="number" name="price" id="item_price_id${row_count}" value="${item_price}" readonly>
                        <input class="total_price_val form-control modal_input p-0 pt-3 fw-bolder my_total" type="number" name="total_price" id="total_price${row_count}" value="${item_price}" readonly>
                    </div>
                </div>
            </div>
        `);
        cal_total();
        }
    }


    // CLEAR CONTENT START

    $(document).ready(function(){
        var row_count;
        var gtot;
        var tot;
        var clear_contetent_obj;
        var clear_contetent_id;
    })

    function clearContent(id,obj){
        row_count = parseInt($('.rowCounterClass').length);
        clear_contetent_id = id;
        clear_contetent_obj = obj;
        gtot = $('#grand_total').val();
        tot = clear_contetent_obj.parent().parent().parent().find('.my_total').val();
        modal_new_open("Do you want to clear this item ?","modal_1","modal_1","",'info',1,'confirm_clear_content()');
    }
    
    function confirm_clear_content(){
        clear_contetent_obj.parent().parent().parent().empty();
        if(row_count<=1){
            $('#modal_1').modal('hide');
        }
        else{
            $('#modal_1').modal('show');
        }
        $('#grand_total').val(parseFloat(gtot) - parseFloat(tot))
    }

    // CLEAR CONTENT END

    function add_here(obj){
        var qty = obj.parent().parent().find('.qty_val')
        var qty_val = parseInt(qty.val())
        qty.val(qty_val+1);
        multiply(obj)
    }
    function minus_here(obj){
        var qty = obj.parent().parent().find('.qty_val')
        var qty_val = parseInt(qty.val())
        if(qty_val>1){
            qty.val(qty_val-1);
            multiply(obj)
        }
    }
    function multiply(obj){
        var qty = obj.parent().parent().find('.qty_val')
        var qty_val = parseInt(qty.val())
        var price = obj.parent().parent().parent().find('.price_val')
        var price_val = parseFloat(price.val())
        var total = obj.parent().parent().parent().find('.total_price_val')
        total.val(qty_val*price_val)
        cal_total()
    }
    function cal_total(){
        var gtot = 0;
        $('.my_total').filter(function(){
            gtot = gtot+ parseFloat($(this).val()) ;
            console.log($(this).val());
        })
        $('#grand_total').val(gtot);
    }
    function openmodal(){
        
        clear_the_close()
        
        var row_count = parseInt($('.rowCounterClass').length);
        if(row_count==0){
            modal_5_open(`No Items Added to the <span class="bi bi-cart4 text-red fw-bolder"> cart</span> ! please select atleast one item`);
        }
        else{
            $('#modal_1').modal('show');
        }
    }

    function modal_5_open(content){
        $("#model_5_content").html(content)
        $('#modal_5').modal("show");
    }

    $(document).ready(function () {
        $('#order_list_form').submit(function (e) {
            e.preventDefault();

            var formData = $("#order_list_form").serialize();
            formData +=  `&lat=${latitude}&lon=${longitude}`;

            $.ajax({
                url: "{% url 'create_order' %}",
                type: "POST",
                dataType:"json",
                data: formData,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                success: function (res) {
                    // alert('success')
                    $('#modal_1').modal('hide');
                    $('#modal_2').modal('hide');
                    $('#modal_content').empty();
                },
                error: function (error) {
                    $('#modal_2').modal('hide');
                    modal_5_open(error.responseJSON.error);
                    $('.modal_5_close_btn').attr('onclick',`$('#modal_5').modal('hide');$('#modal_1').modal('show');`)
                }
            });
        });
    });

    $(document).ready(function(){
        var height_here = $(window).height()
        var ten_percent = (height_here*25)/100;
        $('.scrolling_window_height').height(height_here-ten_percent);
    })
    $(document).ready(function(){
        $('#search_bill_filter').on('input',function(){
            var input_data = $(this).val().toLowerCase()
            $('.container_items').filter(function(){
                console.log($(this).parent().html())
                if($(this).text().toLowerCase().indexOf(input_data)===-1){
                    $(this).hide();
                }
                else{
                    $(this).show();
                }
            })
        })
    })
</script>

<script>
    $(document).ready(function(){
        $("#home_loc_img").click();
    })

    $(document).ready(function(){
        $('#current_loc').on('input',function(){
            $('#confirm_order_id').prop('disabled',true);
            $("#current_loc_img").addClass("img_map_1");
            $("#current_loc_img").removeClass("img_map_2");
            $('#home_loc_img').removeClass("img_map_1");
            $('#home_loc_img').addClass("img_map_2");
            $('#loading_food_img').attr('hidden',false);
            get_current_location();
        })
    })
    $(document).ready(function(){
        $('#home_loc').on('input',function(){
            $('#confirm_order_id').prop('disabled',true);
            $('#home_loc_img').addClass("img_map_1");
            $('#home_loc_img').removeClass("img_map_2");
            $('#current_loc_img').removeClass("img_map_1");
            $('#current_loc_img').addClass("img_map_2");
            $('#location_input').val("my home address");
            $('#confirm_order_id').prop('disabled',false);
            $('#loading_food_img').attr('hidden',true);
            latitude= 0;
            longitude=0;
        })
    })
</script>


<script>

    var loc_response = null;
    var latitude = 0;
    var longitude = 0;

    function get_current_location(){

        const addressBox = $("#location_input");
    
        if ('geolocation' in navigator) {
            navigator.geolocation.getCurrentPosition(
                async (position) => {
                    const lng = position.coords.longitude;
                    const lat = position.coords.latitude;

                    latitude = lat;
                    longitude = lng;
    
                    const url = `https://nominatim.openstreetmap.org/reverse?lat=${lat}&lon=${lng}&format=json`;
    
                    try {
                        const response = await fetch(url);
                        loc_response = response;
                        const data = await response.json();
                        const address = data.display_name || "Address not found";
                        addressBox.val(address);
                    } catch (err) {
                        addressBox.val('Failed to get address');
                        console.error('Error fetching address:', err);
                        $('#loading_food_img').attr('hidden',true);
                    }finally{
                        $('#confirm_order_id').prop('disabled',false);
                        $('#loading_food_img').attr('hidden',true);
                    }
                },
                (error) => {
                    addressBox.val('Location access denied');
                    console.error(error);
                    $('#loading_food_img').attr('hidden',true);
                }
            );
        } else {
            addressBox.val('Geolocation not supported');
        }

    }


</script>

<script>
    // availability status change script
    var availability_id;
    var availability_obj;

    function change_availability_status_click(id,obj){
        availability_id = parseInt(id);
        availability_obj=obj;
    }

    function change_availability_status(){
        $.ajax({
            url:'{% url "change_availablity_status" 0 %}'.replace("0",availability_id),
            type:"POST",
            data:{
                csrfmiddlewaretoken:'{{ csrf_token }}'
            },
            success:function(res){
                $('#modal_3').modal('hide');
                // alert(availability_obj.text().toLowerCase().trim())
                if(availability_obj.text().toLowerCase().trim()=="available"){
                    // alert('avail---------')
                    availability_obj.removeClass('my_badge_black');
                    availability_obj.addClass('my_badge_red');
                    availability_obj.text('Stock Out');
                }
                else{
                    // alert('stk out------------')
                    availability_obj.removeClass('my_badge_red');
                    availability_obj.addClass('my_badge_black');
                    availability_obj.text('Available');
                }
            },
            error:function(res){
                alert('error occured during status change')
            }
        })
    }

    function clear_the_close(){
        $('.modal_5_close_btn').attr('onclick',`$('#modal_5').modal('hide');`)
    }
</script>


<!-- modal New -->
<script>
    //example====== modal_new_open("Enter the paid amount .","modal_7","modal_7","paid_amount",'info',1); -->
    function modal_new_open(content,close_modal_name,goto_modal_name,focus_point,sign,row,confirm_fn){
        $("#modal_new_content").html(`
            <div class="d-flex">
                <span class="bi bi-${sign}-circle pe-3 text-red ps-3 fs-5"></span>
                <div class="w-100">
                    <textarea rows="${row}" class="w-100 pt-0 tran_bg_light_text text-light fs-5" style="border:none;" name="" id="modal_new_content" readonly>${content}</textarea>
                </div>
            </div>
        `);
        $(`#${close_modal_name}`).modal("hide");
        $('#modal_new').modal("show");
        $('.modal_new_close_btn').attr('onclick',`
            $('#${goto_modal_name}').modal("show");
            if('${focus_point}'!==""){
                setTimeout(() => {
                    $('#${focus_point}').focus();
                }, 500);
            }
            clear_close();
        `);
        if(confirm_fn===""){
            $('.modal_new_confirm_btn').attr("hidden",true);
        }
        else{
            $('.modal_new_confirm_btn').attr('onclick',confirm_fn);
        }
    }

    function clear_close(){
        $('.modal_new_close_btn').attr('onclick',`$('#modal_new').modal('hide');`)
    }
</script>
{% endblock %}