{% extends "curry_shop_base.html" %}

{% load crispy_forms_tags %}

{% block body_block %}


<style>
    .login_card{
        background-image: linear-gradient(45deg,rgba(0, 0, 0, 0.781),rgba(0, 0, 0, 0.567));
        padding: 5rem 3rem 10rem 3rem;
        border-radius: 2%;
        border: 1px solid rgba(255, 255, 255, 0.09);
        box-shadow: -10px 10px 15px 15px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
    }
    /* .login_card_light_border{
        padding: 1px;
        background-image: linear-gradient(45deg,rgba(255, 255, 255, 0));
        border-radius: 2%;
    } */
    .form-label{
        color: white;
    }
    body{
        background-image: url("static/images/bg/vegetables-set-left-black-slate_flipped.jpg");
        background-size: cover;
    }
    @media screen and (max-width:1024px){
        .login_card{
            padding: 0rem 1rem 3rem 1rem;
        }
        body,input,.form-control,.btn,a,span{
            font-size: 0.9rem;
        }
        .col_adjust{
            margin: 0px;
            padding: 0px;
        }
    }
    .hover_effect{
        color: white;
    }
    .hover_effect:hover,.hover_effect:active{
        color: rgb(255, 0, 0);
    }
    .reg_text_marg{
        margin-bottom: 3rem;
    }
    @media screen and (max-width:992px){
        .mob_viewadjust{
            display: flex;
            align-items: center;
            height: 90vh;
        }
        .mob_viewadjust_child{
            margin: auto;
        }
        .reg_text_marg{
            margin-bottom: 2rem;
        }
    }
    .custom_flex{
        display: flex;
    }
    @media screen and (max-width:992px){
        .custom_flex{
            display: block;
            text-align: center;
        }
        .custom_flex div:first-child{
            margin-top: 0rem;
        }
        .custom_flex div{
            margin-top: 0.5rem;
        }
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="mob_viewadjust">
                <div class="mob_viewadjust_child">
                    <div class="login_card">
                        <h1 class="text-center mt-5 reg_text_marg text-light text_shad">Register</h1>

                        <form action="" method = "POST" enctype="multipart/form-data" >
                            <div style="height: 23rem;overflow: auto;padding: 1rem;">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <div class="mt-4">
                                    <button class="btn btn-primary" type="button"><span class="bi bi-geo-alt"></span>  Get Current Location</button>
                                </div>
                            </div>
                            <div style="padding: 1rem;" class="mt-5">
                                <div id="otp_input" class="mb-4" hidden>
                                    <label for="">Enter the OTP</label>
                                    <input id="my_otp" class="form-control" type="text">
                                    <small id="valid_true" class="text-danger fw-bolder" hidden><span class="bi bi-x-circle fw-bolder" ></span> Invalid otp entered</small>
                                    <small id="valid_false" class="text-success fw-bolder" hidden><span class="bi bi-check-circle fw-bolder" ></span> Validation success</small>
                                </div>
                                <button id="send_otp" class="btn btn-danger form-control" type="button" onclick="send_otp_here()">Send Validation OTP</button>
                                <div id="validate_num" hidden>
                                    <button class="btn btn-sm text-primary p-0 form-control" style="text-decoration: underline;" type="button" onclick="send_otp_here()">Resend Otp</button><br>
                                    <button class="btn btn-primary mt-2 form-control" type="button" onclick="validate_otp()">Validate OTP</button>
                                </div>
                                <div class="custom_flex justify-content-center mt-3">
                                    <div>
                                        <a class="fw-lighter text-light pe-2 text-decoration-none">Already have an Account ?</a>
                                    </div>
                                    <div>
                                        <a href="{% url 'login' %}" class="text_shad text-decoration-none hover_effect"> <span class="fw-light">Login Here</span></a><br>
                                    </div>
                                </div>
                            </div>
                            <button id="submit_btn" class="btn btn-success" type="submit" hidden>Register</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // place holder setting
    $(document).ready(function(){
        $("#id_first_name").attr("placeholder","First name");
        $("#id_last_name").attr("placeholder","Last name");
        $("#id_username").attr("placeholder","Username");
        $("#id_email").attr("placeholder","User@gmail.com");
        $("#id_password1").attr("placeholder","Password");
        $("#id_password2").attr("placeholder","Confirm password");
        $("#id_phone").attr("placeholder","Phone");
        $("#id_delivery_address").attr("placeholder","Enter the full address here for delivery");

        $("#id_username_helptext,#id_password1_helptext,#id_password2_helptext,#id_phone_helptext").css({"color":"#b5d8ff"});
    })

    $(document).ready(function(){
        $('#register').addClass('active');
        $('input[name="phone"]').attr('type','number')
        $('input[name="phone"]').attr('min','1')
        // $('input[name="phone"]').val('9074006756')
    })
    function send_otp_here(){
        var phone = $('input[name="phone"]').val().trim();
        var phone = parseInt(phone).toString()
        if(phone!='' && phone.length === 10){
            $.ajax({
                url:"{% url 'send_otp' %}",
                type:"POST",
                data:{
                    "phone":$('input[name="phone"]').val(),
                    csrfmiddlewaretoken:"{{ csrf_token }}"
                },
                success:function(res){
                    alert('Otp send to your number successfully')
                    $('#otp_input').attr('hidden',false)
                    $('#send_otp').attr('hidden',true)
                    $('#validate_num').attr('hidden',false)
                },
                error:function(error){
                    alert('failed')
                }
            })
        }
        else{
            alert("Please enter a valid phone number !")
        }
    }

    function validate_otp(){
        var otp_entered = $('#my_otp').val()
        if(otp_entered!=''){
            $.ajax({
                url:"{% url 'verify_otp' %}",
                type:"POST",
                data:{
                    'otp_entered':otp_entered,
                    csrfmiddlewaretoken:"{{ csrf_token }}"
                },
                success:function(res){
                    $('#validate_num').attr('hidden',true)
                    $('#submit_btn').attr('hidden',false)
                    $('#valid_true').attr('hidden',true)
                    $('#valid_false').attr('hidden',false)
                },
                error:function(error){
                    alert('validation failed')
                    $('#valid_true').attr('hidden',false)
                    $('#valid_false').attr('hidden',true)
                }
            })
        }
        else{
            alert('Please enter the otp here !')
        }
    }
</script>
{% endblock %}