<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}

<style>
  @media screen and (min-width:801px) {
    .card_margin{
      margin: 2rem 3rem 3rem 3rem;
      margin-top: 1rem;
    }
  }
  @media screen and (max-width:800px) {
    .card_margin{
      margin: 1rem 0rem 0rem 0rem;
    }
  }
</style>


    <div class="card card_margin bg-danger bg-gradient">
        <div class="card-header">
            <div class="card-title">
                <h1 class="text-center p-3 text-light ts">MY DICTIONARY</h1>
            </div>
        </div>
        <div class="card-body p-1">
          <div {% if is_online %}  class="text-end p-2" {% else %} class="text_last" style="padding: 0rem;" {% endif %}>
            <div class="row">
              <div class="col-md-9 my-2">
                <input class="form-control" type="text" placeholder="Search here..." id="inputSearch">
              </div>
              <div class="col-md-3 my-2">
                <div class="d-flex justify-content-between">
                  <button class="btn btn-sm btn-dark" onclick="hide_all()" id="hide">Hide All</button>
                  <button class="btn btn-sm btn-dark" onclick="unhide_all()" id="unhide" hidden>Unhide All</button>
                  <button class="btn btn-sm btn-secondary" onclick="test()" >Test</button>
                  <a class="btn btn-warning" href="{% url 'delete_all' %}">Delete All</a>
                  <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal1" >confirm delete</button>
                </div>
              </div>

            </div>
            <div class="modal fade" id="modal1" tabindex="-1">
              <div class="modal-dialog bg-light">
                <div class="modal-contnt">
                  <div class="modal-header">
                    <h1 class="modal-title">Confirm Delete</h1>
                    <span data-dismiss="modal" class="">x</span>
                  </div>
                  <div class="modal-body">
                    <p class="">Do you want to delete all the dictionary contents ? </p>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button class="btn btn-success"  >Yes</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <table class="table table-dark table-hover table-dark bg-dark">
              <thead>
                <th style="width: 1rem;padding-left: 1rem;">#</th>
                <th>English</th>
                <th>Malayalam</th>
            </thead>
            <tbody class="table_bod" id="tbody1">
              {% if dict %}
                {% for i in dict %}
                <tr id="index{{ forloop.counter }}" onclick="window.location.href = `{% url 'test_words' i.id %}`" class="diction_field">
                  <td style="width: 0.5rem;padding: 1rem 1rem;padding-right: 0rem;">{{ forloop.counter }}</td>
                  <td>
                    <input name="eng[]" class="fw-bolder form-control input_color1 engText bg-light" type="text" value="{{ i.eng_word | upper }}" readonly>
                  </td>
                  <td>
                    <input name="mal[]" class="fw-bolder form-control input_color1 bg-light" type="text" value="{{ i.mal_word }}" readonly>
                  </td>
                </tr>
                {% endfor %}
              {% endif %}
            </tbody>
            </table>
        </div>
        <div class="card-footer">

        </div>
    </div>

    <script>
      $(document).ready(function(){
        $('.dict').addClass('active')
      })
  </script>

  <script>
    $(document).ready(function(){
      $('#inputSearch').on('input',function(){
        var inpText = $(this).val().toLowerCase()
        $('#tbody1 tr .engText').filter(function(){
          if($(this).val().toLowerCase().indexOf(inpText)!== -1)
          {
            $(this).parent().parent().show()
          }
          else
          {
            $(this).parent().parent().hide()
          }
        })
      })
    })
  </script>

  <script>
    function hide_all(){
      $("#hide").attr("hidden",true)
      $("#unhide").attr("hidden",false)
      $('.diction_field ').hide()
    }
  </script>

   <script>
      function unhide_all(){
        $("#unhide").attr("hidden",true)
        $("#hide").attr("hidden",false)
        $('.diction_field ').show()



        
      }
    </script>

    <script>

      var index_register = []
      const diction_field_count = $('.diction_field').length
      // const diction_field_count = 10
      for(i=0;i<diction_field_count;i++){
        index_register[i]=i+1;
      }
      // alert(`length ${diction_field_count}\n\n [${index_register}]`)


      function test(){
        var random_index_number = Math.floor(Math.random()*index_register.length);
        var removing_number = index_register[random_index_number]

        index_register.splice(random_index_number,1)
        
        // alert(`
        //     \n\nRANDOM INDEX: ${random_index_number}
        //     \n\n REMOVING INDEX NUMBER: ${random_index_number}
        //     \n\n REMOVED NUMBER: ${removing_number}
        //     \n\n [${index_register}]`
        // )
        if(removing_number!=null){
          $('.diction_field ').hide()
          $(`#index${removing_number}`).show();
        }
      }

    </script>
{% endblock %}


</body>
</html>